name: Deploy Strava App

on:
    push:
        branches:
            - main

# Restrict the permissions of the job to the minimum required
permissions:
    contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy to Server
              # Pin the action to a specific version (e.g., v1.0.0) instead of @master
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  port: ${{ secrets.SERVER_PORT }}
                  script: |
                      set -e # Exit immediately if a command exits with a non-zero status.
                      cd /var/www/strava-app/
                      git pull origin main
                      npm install --production
                      pm2 restart strava-app
