name: Deploy Strava App

# This action runs on every push to the 'main' branch
on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup SSH and Deploy
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  script: |
                      # Navigate to the app directory
                      cd /var/www/strava-app/

                      # Pull the latest changes from the main branch
                      git pull origin main

                      # Install/update dependencies
                      npm install --production

                      # Restart the application with PM2
                      pm2 restart strava-app
