name: Deploy Strava App

on:
    push:
        branches:
            - main

permissions:
    contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - name: Install Frontend Dependencies
              run: pwd
                  npm install

            - name: Build Frontend
              run: npm run build

            - name: Deploy to Server
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  port: ${{ secrets.SERVER_PORT }}
                  script: |
                      set -e # Exit immediately if a command exits with a non-zero status.
                      cd /var/www/strava-app/strava_data
                      git pull origin main
                      npm install --production
                      pm2 restart strava-app
                      source: "dist/" # The source folder on the runner
                      target: "/var/www/strava-app/strava_data/dist"
